<table style="border: none; font-size: 80%; margin: 0; padding: 0;">
    <tr style="border: none; margin: 0; padding: 0">
        <td style="border: none; margin: 0; padding: 0; background-color: white" colspan="2">
            {%- if page.previous -%}
            {%- if page.previous.section -%}
            <div style="font-size: 90%; color: #898989; white-space: nowrap; overflow: hidden; max-width: 300px">{{ page.previous.section }}</div>
            {%- endif -%}
            {%- endif -%}
        </td>
        <td style="border: none; text-align: right; margin: 0; padding: 0; background-color: white" colspan="2">
            {%- if page.next -%}
            {%- if page.next.section -%}
            <div style="font-size: 90%; color: #898989">{{ page.next.section }}</div>
            {%- endif -%}
            {%- endif -%}
        </td>
    </tr>
    <tr style="border: none; margin: 0; padding: 0">
        <td style="border: none; margin: 0; padding: 0; width: 16px; background-color: white">
            {%- if page.previous -%}
                ←
            {%- endif -%}
        </td>
        <td style="border: none; margin: 0; padding: 0; background-color: white">
            {%- if page.previous -%}
            <div style="white-space: nowrap; overflow: hidden; max-width: 300px">
                <a class="u-url" href="{{ page.previous.permalink }}">{{ page.previous.title }}</a>
            </div>
            {%- endif -%}
        </td>
        <td style="border: none; text-align: right; margin: 0; padding: 0; background-color: white">
            {%- if page.next -%}
            <div style="width: 100%; white-space: nowrap; overflow: hidden; text-align: right">
                <div style="max-width: 300px; margin-left: auto">
                    <a class="u-url" href="{{ page.next.permalink }}">{{ page.next.title }}</a>
                </div>
            </div>
            {%- endif -%}
        </td>
        <td style="border: none; margin: 0; padding: 0; width: 16px; text-align: right; background-color: white">
            {%- if page.next -%}
                →
            {%- endif -%}
        </td>
    </tr>
</table>
