<table style="border: none; font-size: 80%; margin: 0; padding: 0;">
    <tr style="border: none; margin: 0; padding: 0">
        <td style="border: none; margin: 0; padding: 0">
            {%- if page.previous -%}
                {%- if page.previous.section -%}
                    <div style="font-size: 90%; color: #898989">{{ page.previous.section }}</div>
                {%- endif -%}
                <a class="u-url" href="{{ page.previous.permalink }}">← {{ page.previous.title }}</a>
            {%- endif -%}
        </td>
        <td style="border: none; text-align: right; margin: 0; padding: 0">
            {%- if page.next -%}
                {%- if page.next.section -%}
                    <div style="font-size: 90%; color: #898989">{{ page.next.section }}</div>
                {%- endif -%}
                <a class="u-url" href="{{ page.next.permalink }}">{{ page.next.title }} →</a>
            {%- endif -%}
        </td>
    </tr>
</table>
