---
layout: default
---
{% include google-analytics.html %}

<img src="{{ site.baseurl }}/assets/images/arch/nesciobrug.jpeg"
     style="margin-top: -14px; box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%);">
<div style="font-size: 70%; margin-top: 6px; color: grey; margin-bottom: 12px">
    Nesciobrug. Credit: <a target="_blank" href="https://commons.wikimedia.org/wiki/File:Nesciobrug_4.jpg">Wikimedia</a>.
</div>

<style>
    .icon-image {
        width: 100px;
        border: none;
    }

    @media only screen and (max-width: 768px) {
        [class="icon-image"] {
            display: none;
        }
    }
</style>


<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.posts.size > 0 -%}
    {% assign prev_section = "" %}
    <ul class="post-list">
        {%- assign sortedPosts = site.posts | sort: 'position' -%}
        {%- for post in sortedPosts -%}
        {%- if post.title contains '[WIP]' -%}
        {%- else -%}
        {%- if post.section <> prev_section -%}
        <h1 class="page-heading" style="text-align: center">{{ post.section }}</h1>
        {% assign prev_section = post.section %}
        {%- endif -%}
        <li>

            <table style="border: none;">
                <tr>
                    <td class="icon-image">
                        <img src="{{ site.baseurl }}/assets/icons/{{ post.icon }}" style="width: 100px;">
                    </td>
                    <td style="border: none;">
                        <h3>
                            <a class="post-link" href="{{ post.url | relative_url }}">
                                {{ post.title | escape }}
                            </a>
                        </h3>
                        <i>{{ post.excerpt }}</i>
                    </td>
                </tr>
            </table>
        </li>
        {%- endif -%}
        {%- endfor -%}
    </ul>
    {%- endif -%}

</div>
