---
layout: default
---
{% include google-analytics.html %}

<img src="{{ site.baseurl }}/assets/images/arch/nesciobrug.jpeg"
     style="margin-top: -14px; box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%);">
<br>
<br>
<div style="box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%); padding: 8px">
    <div style="display: inline-block; vertical-align: top">
        <img src="/assets/book/cover.png" style="width: 150px">
    </div>
    <div style="display: inline-block; margin-left: 16px; width: calc(100% - 190px)">
        <p style="font-size: 160%; margin-top: -8px"><b style="font-size: 130%">Grounded Architecture</b></p>
        <p style="color: grey; font-size: 120%;  margin-top: -20px">Redefining IT Architecture Practice in the Digital
            Enterprise</p></p>
        <p style="margin-top: -14px">by <a href="https://obren.io" target="_blank">Željko Obrenović</a>, Chief Architect
            at AVIV Group</p>
        <div>
            <p><span style="color: blue; font-weight: bold">NEW BOOK!</span> Download early drafts for free:</p>
            <ul>
                <li><a href="assets/book/download-pdf.html" target="_blank"><b>PDF</b></a> <span style="color: lightgrey">(FREE)</span>
                </li>
                <li><a href="assets/book/download-epub.html" target="_blank"><b>EPUB</b></a> <span style="color: lightgrey">(FREE)</span>
                </li>
                <li><b>Printed and Kindle</b> editions on Amazon:</li>
                <ul>
                    <li>Paperback: <span style="font-size: 80%; color: lightgrey"><a target="_blank"
                                                                                     href="https://kdp.amazon.com/amazon-dp-action/us/dualbookshelf.marketplacelink/B0CD16VGLF">US</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/uk/dualbookshelf.marketplacelink/B0CD16VGLF">UK</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/de/dualbookshelf.marketplacelink/B0CD16VGLF">DE</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/fr/dualbookshelf.marketplacelink/B0CD16VGLF">FR</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/es/dualbookshelf.marketplacelink/B0CD16VGLF">ES</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/it/dualbookshelf.marketplacelink/B0CD16VGLF">IT</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/nl/dualbookshelf.marketplacelink/B0CD16VGLF">NL</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/pl/dualbookshelf.marketplacelink/B0CD16VGLF">PL</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/se/dualbookshelf.marketplacelink/B0CD16VGLF">SE</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/jp/dualbookshelf.marketplacelink/B0CD16VGLF">JP</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/ca/dualbookshelf.marketplacelink/B0CD16VGLF">CA</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/au/dualbookshelf.marketplacelink/B0CD16VGLF">AU</a></span>
                    </li>
                    <li>Hardcover: <span style="font-size: 80%; color: lightgrey"><a target="_blank"
                                                                                     href="https://kdp.amazon.com/amazon-dp-action/us/dualbookshelf.marketplacelink/B0CD16VGLF">US</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/uk/dualbookshelf.marketplacelink/B0CCZXQPHS">UK</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/de/dualbookshelf.marketplacelink/B0CCZXQPHS">DE</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/fr/dualbookshelf.marketplacelink/B0CCZXQPHS">FR</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/es/dualbookshelf.marketplacelink/B0CCZXQPHS">ES</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/it/dualbookshelf.marketplacelink/B0CCZXQPHS">IT</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/nl/dualbookshelf.marketplacelink/B0CCZXQPHS">NL</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/pl/dualbookshelf.marketplacelink/B0CCZXQPHS">PL</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/se/dualbookshelf.marketplacelink/B0CCZXQPHS">SE</a></span>
                    </li>
                    <li>Kindle: <span style="font-size: 80%; color: lightgrey"><a target="_blank"
                                                                                  href="https://kdp.amazon.com/amazon-dp-action/us/dualbookshelf.marketplacelink/B0CD16VGLF">US</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/uk/dualbookshelf.marketplacelink/B0CD5WRVGL">UK</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/de/dualbookshelf.marketplacelink/B0CD5WRVGL">DE</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/fr/dualbookshelf.marketplacelink/B0CD5WRVGL">FR</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/es/dualbookshelf.marketplacelink/B0CD5WRVGL">ES</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/it/dualbookshelf.marketplacelink/B0CD5WRVGL">IT</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/nl/dualbookshelf.marketplacelink/B0CD5WRVGL">NL</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/jp/dualbookshelf.marketplacelink/B0CD5WRVGL">JP</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/br/dualbookshelf.marketplacelink/B0CD5WRVGL">BR</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/ca/dualbookshelf.marketplacelink/B0CD5WRVGL">CA</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/mx/dualbookshelf.marketplacelink/B0CD5WRVGL">MX</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/au/dualbookshelf.marketplacelink/B0CD5WRVGL">AU</a> |
                        <a target="_blank"
                           href="https://kdp.amazon.com/amazon-dp-action/in/dualbookshelf.marketplacelink/B0CD5WRVGL">IN</a></span>
                    </li>
                    <li style="color: grey;font-size: 90%;"><b>NOTE</b>: Printed book prices are <b>set to minimum</b>, to cover
                        Amazon printing and distribution costs only (author's royalties are set to $0)
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</div>
<br>
<br>
<style>
    .icon-image {
        width: 100px;
        border: none;
        vertical-align: top;
        padding-top: 18px;
    }

    @media only screen and (max-width: 768px) {
        [class="icon-image"] {
            display: none;
        }
    }
</style>


<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.posts.size > 0 -%}
    {% assign prev_section = "" %}
    <ul class="post-list">
        {%- assign sortedPosts = site.posts | sort: 'position' -%}
        {%- for post in sortedPosts -%}
        {%- if post.title contains '[WIP]' -%}
        {%- else -%}
        {%- if post.section <> prev_section -%}
        <h1 class="page-heading" style="text-align: center">{{ post.section }}</h1>
        {% assign prev_section = post.section %}
        {%- endif -%}
        <li>

            <table style="border: none;">
                <tr>
                    <td class="icon-image">
                        <img src="{{ site.baseurl }}/assets/icons/{{ post.icon }}" style="width: 100px;">
                    </td>
                    <td style="vertical-align: top; border: none;">
                        <h3>
                            <a class="post-link" href="{{ post.url | relative_url }}">
                                {{ post.title | escape }}
                            </a>
                        </h3>
                        <i>{{ post.excerpt }}</i>
                    </td>
                </tr>
            </table>
        </li>
        {%- endif -%}
        {%- endfor -%}
    </ul>
    {%- endif -%}

</div>
