---
layout: default
---
{% include google-analytics.html %}

<style>

    #markdown-toc::before {
        content: "Contents";
        font-weight: bold;
        font-size: 110%;
        margin-left: 176px;
        padding-bottom: 30px;
        text-align: center;
        width: 100%;
    }


    #markdown-toc ul {
        list-style: decimal;
    }

    #markdown-toc {
        border: 1px solid #aaa;
        padding: 1.5em;
        padding-left: 2.5em;
        list-style: decimal;
        display: inline-block;
        margin: 0;
    }
</style>


<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting" style="margin-top: -12px">
    <header class="post-header">
        {%- if page.section -%}
        <div style="margin-bottom: 4px; margin-top: 10px">{{ page.section }}</div>
        {%- endif -%}
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        <table style="border: none">
        <tr>
        <td style="padding: 0; border: none">
        <p class="post-meta">
            {%- if page.author -%}
            <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
                                                                                        itemprop="name">{{ page.author | escape }}</span></span>
            {%- endif -%}
        </p>
        </td>
        <!--td style="padding: 0; border: none; text-align: right">
        {%- if page.spotify -%}
        <a href="{{ page.spotify }}" style="text-decoration: none; margin: 0; margin-left: 16px;" target="_blank">
            TL;DR on Spotify <img style="padding: 0; margin: 0; width: 34px; vertical-align: middle" title="Listen on Spotify" src="assets/icons/spotify.png">
        </a>
        {%- endif -%}
        {%- if page.spotify2 -%}
        <a href="{{ page.spotify2 }}" style="margin: 0; margin-left: 16px;" target="_blank">
            <img style="padding: 0; margin: 0; width: 34px; vertical-align: middle" title="Listen on Spotify" src="assets/icons/spotify.png">
        </a>
        {%- endif -%}
        </td-->
        </tr>
        </table>

    </header>

    <div class="post-content e-content" itemprop="articleBody" style="font-size: 110%">
        {{ content }}
        <div style="margin-bottom: -32px; margin-top: 28px">
            {%- include navigator.html -%}
        </div>
    </div>

    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
    {%- endif -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
